:root {
  --form-bg-color: rgba(0,158,247,0.12);
  --form-disabled-bg-color: rgba(0,158,247,0.08);
  --form-disabled-border-color: #014371;
  --form-disabled-font-color: #6F8EA8;
}

::-webkit-input-placeholder {
  color: #B5CEE3 !important;
}

div, span, i {
  word-break: break-all;
}
.hl-dialog {
  > .hl-panel {
    --panel-header-height: calc(var(--xxs) * 13);
    --panel-bg-color: transparent;
    --panel-shadow: none;
    box-shadow: none;
    background-image: url('@/assets/images/dialog/bg.png');
    background-position: left var(--panel-header-height);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    > .panel-header {
      padding-left: calc(var(--xxs) * 10);
      padding-right: 0;
      background-image: url('@/assets/images/dialog/header-left.png'), url('@/assets/images/dialog/header-right.png');
      background-size: calc(var(--xxs) * 95) 100%, calc(100% - var(--xxs) * 95) 100%;
      background-position: top left, calc(var(--xxs) * 95) top;
      background-repeat: no-repeat, no-repeat;
      border-bottom: 0;
      .panel-title {
        padding-top: var(--xs);
        font-family: YouSheBiaoTiHei;
        color: #FFFFFF;
        font-size: var(--font-h2);
        line-height: 1.3333333333;
        font-weight: normal;
      }
      .panel-header-right {
        align-self: flex-end;
      }
      .panel-close {
        width: calc(var(--xxs) * 9);
        height: calc(var(--xxs) * 9);
        margin-right: calc(var(--xxs) * 9 / 2);
        background-image: url('@/assets/images/dialog/close.png');
        background-size: 100% 100%;
        .hl-icon {
          display: none;
        }
      }
    }
    > .panel-footer {
      justify-content: center;
      border-top: none;
    }
    > .panel-body {
      &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: calc(var(--xxs) * 2.5);
        height: calc(var(--xxs) * 2.5);
      }
      &::before {
        left: 0;
        background: url('@/assets/images/panel/bottom-left-icon.png') no-repeat;
        background-size: 100%;
      }
      &::after {
        right: 0;
        background: url('@/assets/images/panel/bottom-right-icon.png') no-repeat;
        background-size: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(var(--xxs) * 3.75);
      background-image: url('@/assets/images/panel/bottom-line.png');
      background-size: 100% 100%;
    }
  }
}
.hb-modeless-dialog.hl-panel  {
  background: rgba(16,51,91,0.9);
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(71, 99, 141, 0.12), rgba(81, 165, 255, 0.89), rgba(64, 83, 112, 0.26)) 1 1;
  backdrop-filter: blur(1.4px);
  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    width: calc(var(--xxs) * 2.5);
    height: calc(var(--xxs) * 2.5);
  }
  &::before {
    left: 0;
    background: url('@/assets/images/panel/top-left-icon.png') no-repeat;
    background-size: 100%;
  }
  &::after {
    right: 0;
    background: url('@/assets/images/panel/top-right-icon.png') no-repeat;
    background-size: 100%;
  }
  .panel-header {
    position: relative;
    border-bottom: none;
    .panel-title {
      font-family: YouSheBiaoTiHei;
      color: #FFFFFF;
      font-weight: var(--font-weight);
      user-select: none;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(var(--xs) * 1.5);
      background: url('@/assets/images/panel/header-line.png') no-repeat;
      background-size: 100%;
    }
  }
  .panel-body {
    &::before, &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(var(--xxs) * 2.5);
      height: calc(var(--xxs) * 2.5);
    }
    &::before {
      left: 0;
      background: url('@/assets/images/panel/bottom-left-icon.png') no-repeat;
      background-size: 100%;
    }
    &::after {
      right: 0;
      background: url('@/assets/images/panel/bottom-right-icon.png') no-repeat;
      background-size: 100%;
    }
  }
}
.hb-modeless-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  .panel-body {
    overflow: hidden;
    text-align: center;
    video {
      // width: 100% !important;
      height: 50vh;
    }
    img {
      max-width: 100% !important;
      max-height: 100% !important;
      vertical-align: middle;
      height: 100%;
    }
  }
  &.fullscreen {
    transform: none !important;
    .panel-body {
      video {
        width: auto !important;
        height: auto !important;
      }
      img {
        width: auto !important;
      }
    }
  }
}

//重置空数据图片size
.hb-empty {
  --imageWidth: calc(var(--xxs) * 35) !important;
  .empty-description {
    margin-top: var(--xs);
    color: #fff;
  }
  &.big {
    --imageWidth: calc(var(--xxs) * 105) !important;
  }
}

.hl-button {
  background-image: url('@/assets/images/button/default.png');
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-border-color: transparent;
  background-size: 100% 100%;
  border: none;
  height: calc(var(--xxs) * 7);
  &.normal-width {
    min-width: calc(var(--xxs) * 18);
  }
  &.normal-height {
    height: calc(var(--xxs) * 8);
  }
  &.primary {
    background-image: url('@/assets/images/button/primary.png');
    &.hover-style:hover {
      background-image: url('@/assets/images/button/button-active.png');
    }
  }
  &.link{
    background-image: none;
    background-color: transparent !important;
  }
}

.hl-input {
  --input-border-color: rgba(0,158,247,0.24) !important;
  --input-radius: var(--xxs) !important;
  .input-count {
    color: #B5CEE3;
  }
  .input-close{
    width: var(--md) !important;
    height: var(--md) !important;
    background-image: url(@/assets/images/form-item/input-close-icon.png);
    background-size: 100% 100%;
    color: transparent !important;
  }
}
.hl-input-select {
  .input-affixe.suffix {
    border: none !important;
    background-color: transparent !important;
    min-width: 1em !important;
    margin-right: var(--xs) !important;
    .hl-icon.select-caret {
      svg {
        display: none;
      }
      background-image: url(@/assets/images/form-item/select-arrow.png);
      width: calc(var(--xxs) * 4.5);
      height: calc(var(--xxs) * 4.5);
      background-size: 100% 100%;
    }
  }
  &.custom-select {
    width: calc(var(--xxs) * 24.5);
    background-image: url("@/assets/images/overview/left-1/select-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    .hl-input {
      --input-height: calc(var(--xxs) * 7) !important;
      border: none;
      background-color: transparent;
      &.is-focus {
        border-color: transparent;
      }
      .input-inner {
        padding-right: var(--xxs);
      }
      .input-affixe.suffix {
        margin-right: calc(var(--xxs) * 2);
      }
    }
  }
  // hl-select multiple
  .hl-input.is-tags{
    max-height: calc(var(--xxs) * 30.5);
    overflow-y: auto;
  }
}
.hl-input.with-affixe {
  & > .input-wrapper .input-affixe.suffix {
    display: inline-flex;
    align-items: center;
    min-width: var(--xl);
    height: 100%;
    background-color: rgba(0,158,247,0.12);
    border-radius: 0px var(--xxs) var(--xxs) 0px;
    border-left: 1px solid rgba(0,158,247,0.24);
    margin-right: 0 !important;
    .hl-input-select {
      width: calc(var(--xxs) * 17.5);
      .hl-input {
        border: none;
        background-color: transparent;
        .input-inner {
          padding-right: 0;
        }
        .input-affixe.suffix{
          padding-right: var(--xs);
        }
      }
    }
  }
}

.hl-selector {
  .input-affixe.suffix {
    margin-right: var(--xs) !important;
    .hl-icon.select-caret {
      svg {
        display: none;
      }
      background-image: url(@/assets/images/form-item/select-arrow.png);
      width: calc(var(--xxs) * 4.5);
      height: calc(var(--xxs) * 4.5);
      background-size: 100% 100%;
    }
  }
}

.hl-checkbox {
  --checkbox-border-color: rgba(0,158,247,0.36);
  --checkbox-icon-color: var(--checkbox-border-color-checked);
}
// 下拉面板样式
.select-dropdown, .selector-dropdown, .hl-date-picker {
  border: 1px solid rgba(0, 158, 247, 0.36);
  background: rgba(16, 51, 91, 0.9);
}
.hl-message-box {
  .hl-panel {
    border: 1px solid rgba(0, 158, 247, 0.36);
    background: rgba(16, 51, 91, 0.9);
  }
}
.hl-timeline {
  --timeline-line-color: rgba(4,254,254,0.5);
  .dot-wrap {
    .icon-dot {
      display: none;
    }
    width: calc(var(--xxs) * 5) !important;
    height: calc(var(--xxs) * 5) !important;
    background-image: url(@/assets/images/form-item/timeline-dot.png);
    background-size: calc(var(--xxs) * 4.5) calc(var(--xxs) * 4.5);
    background-repeat: no-repeat;
    background-position: center;
  }
  .hl-timeline-item {
    &.is-active, &:hover {
      .dot-wrap {
        width: calc(var(--xxs) * 5);
        height: calc(var(--xxs) * 5);
        background-image: url(@/assets/images/form-item/timeline-dot-active.png);
        background-size: 100% 100%;
      }
    }
  }
}

.hl-tag {
  border: none;
}

.hl-tree {
  --tree-bg-color: transparent;
  --tree-child-bg-color: transparent;
}

.hl-pagination {
  .is-active.number {
    background-image: url('@/assets/images/button/button-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
    border-color: unset;
    color: unset;
    border: none;
  };
  .number, .more {
    background-color: rgba(9, 62, 106, 1);
    border-color: rgba(0, 158, 247, 0.24) !important;
    border-radius: calc(var(--xxs) / 2);
    color: #83C1ED;
  }
  ul {
    li.pagination-phase-next, li.pagination-phase-prev {
      border: var(--pagination-border-width) solid var(--pagination-border-color);
    }
  }
  .hl-button.pagination-prev, .hl-button.pagination-next {
    background-image: none;
    background-color: rgba(9, 62, 106, 1);
    border-color: rgba(0, 158, 247, 0.24);
    border-radius: calc(var(--xxs) / 2);
    color: #83C1ED;
  }
}

.location-selector {
  --form-bg-color: rgba(20, 27, 40, 0.6);
}

.hl-simple-table {
  --table-th-bg-color: #053962; // 无透明度色值
  --table-th-font-weight: var(--font-weight-bold);
  --table-td-bg-color-hover: rgba(0,158,247,0.16);
  &.normal-stripe-table {
    border-collapse:separate;
    border-spacing: 0 var(--xs);
    margin-top: calc(var(--xs) * -1);
    td {
      border: none !important;
    }
    thead {
      top: -1px;
      tr {
        height: calc(var(--xxs) * 11);
        th {
          font-size: var(--font-lg);       
          color: #B5CEE3;
        }
      }
      &.fixed-top::before {
        display: none;
      }
    }
    tbody {
      tr {
        height: calc(var(--xxs) * 14);
        background: rgba(0,158,247,0.1);
        &:nth-child(even) {
          background: rgba(0,158,247,0.04);
        }
        .fixed-right {
          background: transparent;
        }
        &:hover {
          background: var(--table-td-bg-color-hover);
          .fixed-right {
            background: var(--table-td-bg-color-hover) !important;
          }
        }
      }
    }
  }
}

.hl-switch {
  &::after, &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    left: calc(var(--xxs) * 1.25);
    width: 1px;
    height: 50%;
    background-color: white;
    opacity: 0;
  }
  &:after {
    right: calc(var(--xxs) * 0.75);
    width: calc(var(--xxs) * 1.5);
    height: calc(var(--xxs) * 1.5);
    border: 1px solid white;
    border-radius: 100%;
    opacity: 1;
  }
  &.is-checked:before {
    opacity: 1;
  }
  &.is-checked:after {
    opacity: 0;
  }
}
