@font-face {
  font-family: AkzidenzGroteskBQ-Cnd, AkzidenzGroteskBQ;
  src: url('./font/AKZIDENZ-GROTESK-BOLD-COND-ALT.otf');
}
@font-face {
  font-family: SourceHanSansCN-Medium;
  src: url('./font/SourceHanSansCN-Medium.otf');
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('./font/SourceHanSansCN-Regular.otf');
}
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('./font/YOUSHEBIAOTIHEI-2.TTF');
}
@font-face {
  font-family: DINAlternateBold;
  src: url('./font/DIN-Alternate-Bold.ttf');
}

.DINAlternateBold {
  font-family: DINAlternateBold;
}
